.index-wrapper{
  width: 100%;

  .box {
    border-bottom: 1px solid black;
    float: left;
    height: 500px;
    margin-top: 10px;
    margin-left: 1%;
    margin-right: 1%;
    overflow: auto;
    width: 23%;

    .imgContainer {
      max-height: 200px;
      overflow: hidden;

      img {
        max-width: 100%;
      }

    }

    .type {
      color: white;
      background: grey;
      text-transform: uppercase;
    }

    .categories {
      color: grey;

      .category {
        display: block;
      }
    }

    .stars {
      margin-left: 20px;
    }

    a {
      color: black;
      text-decoration: none;
    }

    a:active {
      color: grey;
    }
    a:visited {
      color: black;
    }

    a:hover {
      border: 1px solid grey;
    }


  }


}
