html {
  box-sizing: border-box;
  margin: auto;
}

body {
  // font-family: 'Catamaran', sans-serif;
  font-family: 'Cutive Mono', monospace;
}

.wrapper {
  margin: 5% auto;
  width: 100%;
}

.font-address {
  font-family: 'Catamaran', sans-serif;
}
