@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.tag-icon {
  width: 10px;
  margin-right: 3px;
  &.fun {
    ellipse { fill: #70D6FF; }
  }

  &.date {
    ellipse { fill: #FF70A6;}
  }

  &.experimental {
    ellipse { fill: #FF9770; }
  }

  &.family {
    ellipse { fill: #FFD670; }
  }

  &.light {
    ellipse { fill: #E9FF70; }
  }
}

.heart {
  padding: 0 2%;
  transition: all linear 0.5s;
  
}

.favorited-bar {
  &:before {
    content: "\f004";
    font-family: "FontAwesome";
  }
}
.unfavorited-bar {
  &:before {
    content: "\f08a";
    font-family: "FontAwesome";
  }
}
